*{box-sizing:border-box;}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5;}
.conteneur{padding:0.01em 16px;border-radius:6px;}
.coulFond
{
	color:#fff;
	background-color:#4757a9;
	margin-top:8px;
	margin-bottom:16px;
	border-radius:6px;
}
.bouton
{
	border:none;
	display:inline-block;
	padding:8px 16px;
	text-align:center;
	cursor:pointer;
	border-radius:6px;
	font-size:18px;
}
.bouton:hover
{

	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	color:#000;
}
.bleu{color:#fff;background-color:#4757a9;}
.tailleL{font-size:18px;}
.transparent{background-color:transparent;}
.positionHautDroit{position:absolute;right:0;top:0;}
.boite
{
	z-index:3;
	display:none;
	padding-top:100px;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
}
.boite-contenu
{
	margin:auto;
	background-color:#fff;
	position:relative;
	padding:0;
	outline:0;
	width:600px;
	box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
	border-radius:6px;
	animation:animerzoom 0.6s;
}
.centrer
{
	display:inline-block;
	width:auto;
	text-align:center;
}
.cercle{border-radius:50%;}
.margeHaut{margin-top:16px;}
.margeBas{margin-bottom:16px;}
.section{margin-top:16px;margin-bottom:16px;}
.tailleL{font-size:24px;}
.zoneSaisie
{
	padding:8px;
	display:block;

}
.decalage{padding:8px 16px;}
.caseCocher{width:24px;height:24px;position:relative;top:6px;}
.bordureHaut{border-top:1px solid #ccc;}
.grisClair{color:#000;background-color:#f1f1f1;}
.rouge{color:#fff;background-color:#f44336;}
.droite{float:right;}
.decalage16{padding-top:16px;padding-bottom:16px;}


